# Supabase Configuration
VITE_SUPABASE_PROJECT_ID=your_project_id_here
VITE_SUPABASE_URL=https://your_project_id_here.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_publishable_anon_key

# Admin Console Credentials
VITE_ADMIN_USER=your_admin_name
VITE_ADMIN_PASS=your_admin_password
